USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[PJFAIRLN] WITH NOCHECK ADD CONSTRAINT [FK_PJFAIRLN_CODAIRHB_PJFAIRPT_CODAIRPT] FOREIGN KEY([CODAIRHB]) REFERENCES [dbo].[PJFAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[PJFAIRLN] NOCHECK CONSTRAINT [FK_PJFAIRLN_CODAIRHB_PJFAIRPT_CODAIRPT]

ALTER TABLE [dbo].[PJFAIRLN] WITH NOCHECK ADD CONSTRAINT [FK_PJFAIRLN_CODCITY_PJFCITY_CODCITY] FOREIGN KEY([CODCITY]) REFERENCES [dbo].[PJFCITY] ([CODCITY])
ALTER TABLE [dbo].[PJFAIRLN] NOCHECK CONSTRAINT [FK_PJFAIRLN_CODCITY_PJFCITY_CODCITY]

ALTER TABLE [dbo].[PJFAIRPT] WITH NOCHECK ADD CONSTRAINT [FK_PJFAIRPT_CODCITY_PJFCITY_CODCITY] FOREIGN KEY([CODCITY]) REFERENCES [dbo].[PJFCITY] ([CODCITY])
ALTER TABLE [dbo].[PJFAIRPT] NOCHECK CONSTRAINT [FK_PJFAIRPT_CODCITY_PJFCITY_CODCITY]

ALTER TABLE [dbo].[PJFAPSW] WITH NOCHECK ADD CONSTRAINT [FK_PJFAPSW_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFAPSW] NOCHECK CONSTRAINT [FK_PJFAPSW_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFAPSW] WITH NOCHECK ADD CONSTRAINT [FK_PJFAPSW_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[PJFAPSW] NOCHECK CONSTRAINT [FK_PJFAPSW_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[PJFBOOKG] WITH NOCHECK ADD CONSTRAINT [FK_PJFBOOKG_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFBOOKG] NOCHECK CONSTRAINT [FK_PJFBOOKG_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFBOOKG] WITH NOCHECK ADD CONSTRAINT [FK_PJFBOOKG_FLIGHT_PJFFLIGH_CODFLIGH] FOREIGN KEY([FLIGHT]) REFERENCES [dbo].[PJFFLIGH] ([CODFLIGH])
ALTER TABLE [dbo].[PJFBOOKG] NOCHECK CONSTRAINT [FK_PJFBOOKG_FLIGHT_PJFFLIGH_CODFLIGH]

ALTER TABLE [dbo].[PJFBOOKG] WITH NOCHECK ADD CONSTRAINT [FK_PJFBOOKG_CODPASGR_PJFPERSO_CODPERSO] FOREIGN KEY([CODPASGR]) REFERENCES [dbo].[PJFPERSO] ([CODPERSO])
ALTER TABLE [dbo].[PJFBOOKG] NOCHECK CONSTRAINT [FK_PJFBOOKG_CODPASGR_PJFPERSO_CODPERSO]

ALTER TABLE [dbo].[PJFCREW] WITH NOCHECK ADD CONSTRAINT [FK_PJFCREW_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFCREW] NOCHECK CONSTRAINT [FK_PJFCREW_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_PJFFLIGH_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFFLIGH] NOCHECK CONSTRAINT [FK_PJFFLIGH_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_PJFFLIGH_CODSOURC_PJFAIRPT_CODAIRPT] FOREIGN KEY([CODSOURC]) REFERENCES [dbo].[PJFAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[PJFFLIGH] NOCHECK CONSTRAINT [FK_PJFFLIGH_CODSOURC_PJFAIRPT_CODAIRPT]

ALTER TABLE [dbo].[PJFFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_PJFFLIGH_CODCREW_PJFCREW_CODCREW] FOREIGN KEY([CODCREW]) REFERENCES [dbo].[PJFCREW] ([CODCREW])
ALTER TABLE [dbo].[PJFFLIGH] NOCHECK CONSTRAINT [FK_PJFFLIGH_CODCREW_PJFCREW_CODCREW]

ALTER TABLE [dbo].[PJFFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_PJFFLIGH_CODPILOT_PJFPILOT_CODPILOT] FOREIGN KEY([CODPILOT]) REFERENCES [dbo].[PJFPILOT] ([CODPILOT])
ALTER TABLE [dbo].[PJFFLIGH] NOCHECK CONSTRAINT [FK_PJFFLIGH_CODPILOT_PJFPILOT_CODPILOT]

ALTER TABLE [dbo].[PJFFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_PJFFLIGH_CODPLANE_PJFPLANE_CODPLANE] FOREIGN KEY([CODPLANE]) REFERENCES [dbo].[PJFPLANE] ([CODPLANE])
ALTER TABLE [dbo].[PJFFLIGH] NOCHECK CONSTRAINT [FK_PJFFLIGH_CODPLANE_PJFPLANE_CODPLANE]

ALTER TABLE [dbo].[PJFFLIGH] WITH NOCHECK ADD CONSTRAINT [FK_PJFFLIGH_CODROUTE_PJFROUTE_CODROUTE] FOREIGN KEY([CODROUTE]) REFERENCES [dbo].[PJFROUTE] ([CODROUTE])
ALTER TABLE [dbo].[PJFFLIGH] NOCHECK CONSTRAINT [FK_PJFFLIGH_CODROUTE_PJFROUTE_CODROUTE]

ALTER TABLE [dbo].[PJFMAINT] WITH NOCHECK ADD CONSTRAINT [FK_PJFMAINT_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFMAINT] NOCHECK CONSTRAINT [FK_PJFMAINT_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFMAINT] WITH NOCHECK ADD CONSTRAINT [FK_PJFMAINT_CODPLANE_PJFPLANE_CODPLANE] FOREIGN KEY([CODPLANE]) REFERENCES [dbo].[PJFPLANE] ([CODPLANE])
ALTER TABLE [dbo].[PJFMAINT] NOCHECK CONSTRAINT [FK_PJFMAINT_CODPLANE_PJFPLANE_CODPLANE]

ALTER TABLE [dbo].[PJFMATE] WITH NOCHECK ADD CONSTRAINT [FK_PJFMATE_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFMATE] NOCHECK CONSTRAINT [FK_PJFMATE_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFMATE] WITH NOCHECK ADD CONSTRAINT [FK_PJFMATE_CODCREW_PJFCREW_CODCREW] FOREIGN KEY([CODCREW]) REFERENCES [dbo].[PJFCREW] ([CODCREW])
ALTER TABLE [dbo].[PJFMATE] NOCHECK CONSTRAINT [FK_PJFMATE_CODCREW_PJFCREW_CODCREW]

ALTER TABLE [dbo].[PJFPILOT] WITH NOCHECK ADD CONSTRAINT [FK_PJFPILOT_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFPILOT] NOCHECK CONSTRAINT [FK_PJFPILOT_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFPLANE] WITH NOCHECK ADD CONSTRAINT [FK_PJFPLANE_AIRCR_PJFAIRPT_CODAIRPT] FOREIGN KEY([AIRCR]) REFERENCES [dbo].[PJFAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[PJFPLANE] NOCHECK CONSTRAINT [FK_PJFPLANE_AIRCR_PJFAIRPT_CODAIRPT]

ALTER TABLE [dbo].[PJFPLANE] WITH NOCHECK ADD CONSTRAINT [FK_PJFPLANE_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFPLANE] NOCHECK CONSTRAINT [FK_PJFPLANE_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFROUTE] WITH NOCHECK ADD CONSTRAINT [FK_PJFROUTE_AIRDS_PJFAIRPT_CODAIRPT] FOREIGN KEY([AIRDS]) REFERENCES [dbo].[PJFAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[PJFROUTE] NOCHECK CONSTRAINT [FK_PJFROUTE_AIRDS_PJFAIRPT_CODAIRPT]

ALTER TABLE [dbo].[PJFROUTE] WITH NOCHECK ADD CONSTRAINT [FK_PJFROUTE_CODAIRLN_PJFAIRLN_CODAIRLN] FOREIGN KEY([CODAIRLN]) REFERENCES [dbo].[PJFAIRLN] ([CODAIRLN])
ALTER TABLE [dbo].[PJFROUTE] NOCHECK CONSTRAINT [FK_PJFROUTE_CODAIRLN_PJFAIRLN_CODAIRLN]

ALTER TABLE [dbo].[PJFROUTE] WITH NOCHECK ADD CONSTRAINT [FK_PJFROUTE_AIRSC_PJFAIRPT_CODAIRPT] FOREIGN KEY([AIRSC]) REFERENCES [dbo].[PJFAIRPT] ([CODAIRPT])
ALTER TABLE [dbo].[PJFROUTE] NOCHECK CONSTRAINT [FK_PJFROUTE_AIRSC_PJFAIRPT_CODAIRPT]

GO
