$table-striped:true;
$table-head-inverse:true;
$custom-tab-navigation:true;
$navbar-font-size:0.8rem;

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL PJF CSS_THEMEVARIABLES]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL PJF CSS_THEMEVARIABLES QUIDGEST]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */
